body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(156,82,206);
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.Profile {
  color: white;
  font-size: 70px;
  margin-top: 40px;
}

.profile-container {
  min-height: 400px;
}

.Profile img {
  border-radius: 12px;
}
